
.labels-gr{
    .make-xs-column(12, 0);
    .label{
        .make-xs-column(2, 0);
        .line-height(@grid-gutter-width);
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.word{
    .make-xs-column(12, 0);
    .margin-vert(@grid-gutter-width/2);
    text-align: center;

    .show-details, .delete-word{.is-trigger();}
    .show-details{.abs-pos(0, 0);}
    .delete-word{.abs-pos(@top: 0, @right: 0);}

    .main-value-cont{
        .make-xs-column(12, 0);
        .main-value{
            .make-xs-column(2, 0);
            .line-height(@grid-gutter-width);
            .font-ratio(1.1);
            .apply-color(@accent-color, @main-dark);
        }
    }

    .details-container{
        .make-xs-column(12, 0);
        .padding-vert(@grid-gutter-width/2);
        .font-ratio(0.9);
        min-height: @grid-gutter-width;
        text-align: left;

        &:nth-child(odd){.is-details(@main-dark-gray);}
        &:nth-child(even){.is-details(@main-light-gray);}

    }
    .details-wrapper{
        .make-xs-column(12, 0);
        margin-bottom:@grid-gutter-width/2;
    }

    .details-col{
        .make-xs-column(12, @grid-gutter-width);
        &.c1{.make-sm-column(12, @grid-gutter-width);}
        &.c2{.make-sm-column(6, @grid-gutter-width);}
        &.c3{.make-sm-column(4, @grid-gutter-width);}
    }
}
