
.word{
    .make-xs-column(12, 0);
    .margin-vert(@grid-gutter-width/2);
    border: 1px solid @main-dark;
    text-align: center;
}

.key{
    .apply-color(@main-dark, red);
    float:left;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    // .make-xs-column(4, 0);
}

.t, .v {
    width: 960px;
    height: 20px;
    float: left;
}

.value{
    // .make-xs-column(4, 0);
    font-style: italic;
    text-align: center;
}

.subtable{
    .make-xs-column(12, 0);
    .apply-color(@main-dark, @main-white);
    border: 1px solid red;
}