
.top20 {
	margin-top: 20px;
}

.form-inline .form-control {
	width: 44%;
	margin-top: 10px;
	margin-right: 1%;
}

div .delete, div .delete {
	width: 10%;
}

.add-def-ex {
	margin-left: 20px;
}

div {
	margin-top: 0px;
}


/* TOM CUSTOM */
.title{
    background: red;
}

.object{
    border: 1px solid black;
}

